.border2 {
  width:320px;
padding:18px;
border: 2px solid white;
border-radius: 14px;
background-color: whitesmoke;
margin: 40px auto;
}
body{
  background-color: wheat;
  background-attachment: fixed;
   
}

.Bl {
    text-align: center;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;


 
}
.BL {
    border-radius: 12px;
    image-resolution: inherit;
}
a :hover {
    size: 25px;
    color: beige;
}

a:active {
   color: bisque;
}
#p8 {
    font-size: 20px;
    color: white;
}
.P4 {
  text-align: center;
  color:white;
  
}