.border {
width:320px;
padding:18px;
border: 2px solid black;
border-radius: 14px;
background-color: white;
margin: 40px auto;
overflow:auto;
}

hr{
border:none;
height:3px;
background-color: #161003;
border-radius: 10px;

margin: 20px auto;
}

body{
    background-color: wheat;
}

a :hover {

    color: goldenrod;
}

a:active {
    color: orange;
}

.A2 {
   position: relative;
  min-height: 300px;
}
.A2 {
    position: absolute;
  bottom: 0;
  left: 0;
}