.border5 {
  width:320px;
padding:18px;
border: 2px solid black;
border-radius: 14px;
background: linear-gradient(to bottom,wheat,goldenrod);
margin: 40px auto;
}
body {
    background-color: wheat;
}
.H2 {
    text-align: center;
}

.fluf {
     width: 100%;       
  height: 300px;
  object-fit: cover;
   border-radius: 12px;
    image-resolution: inherit;
}